@font-face {
    font-family: 'Raleway Thin';
    src: url('../fonts/raleway/Raleway-Thin.eot');
    src: url('../fonts/raleway/Raleway-Thin.eot?#iefix') format('embedded-opentype'),
    url('../fonts/raleway/Raleway-Thin.woff') format('woff'),
    url('../fonts/raleway/Raleway-Thin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }
