@font-face {
  font-family: 'Raleway Thin';
  src: url('../fonts/raleway/Raleway-Thin.eot');
  src: url('../fonts/raleway/Raleway-Thin.eot?#iefix') format('embedded-opentype'), url('../fonts/raleway/Raleway-Thin.woff') format('woff'), url('../fonts/raleway/Raleway-Thin.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway Regular';
  src: url('../fonts/raleway/Raleway-Regular.eot');
  src: url('../fonts/raleway/Raleway-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/raleway/Raleway-Regular.woff') format('woff'), url('../fonts/raleway/Raleway-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway Extra Bold';
  src: url('../fonts/raleway/Raleway-ExtraBold.eot');
  src: url('../fonts/raleway/Raleway-ExtraBold.eot?#iefix') format('embedded-opentype'), url('../fonts/raleway/Raleway-ExtraBold.woff') format('woff'), url('../fonts/raleway/Raleway-ExtraBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway Semibold';
  src: url('../fonts/raleway/Raleway-SemiBold.eot');
  src: url('../fonts/raleway/Raleway-SemiBold.eot?#iefix') format('embedded-opentype'), url('../fonts/raleway/Raleway-SemiBold.woff') format('woff'), url('../fonts/raleway/Raleway-SemiBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/montserrat/Montserrat-Regular.eot');
  src: url('../fonts/montserrat/Montserrat-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/montserrat/Montserrat-Regular.woff') format('woff'), url('../fonts/montserrat/Montserrat-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat Thin';
  src: url('../fonts/montserrat/Montserrat-Thin.eot');
  src: url('../fonts/montserrat/Montserrat-Thin.eot?#iefix') format('embedded-opentype'), url('../fonts/montserrat/Montserrat-Thin.woff') format('woff'), url('../fonts/montserrat/Montserrat-Thin.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
.main-footer-brands {
  padding: 140px 405px 139px 405px;
  background-color: #c7b299;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/background-footer.jpg) no-repeat;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-footer-brands svg {
  display: block;
}
.main-footer-brands::after {
  content: "";
  display: block;
  clear: both;
}
.main-footer-content {
  padding: 80px 375px 80px 375px;
  background-color: #191919;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.main-footer-content::after {
  content: "";
  display: block;
  clear: both;
}
.main-footer-content-wrapper {
  max-width: 270px;
  display: flex;
  flex-direction: column;
}
.main-footer-content-wrapper-logo {
  padding: 0 0 29px 0;
}
.main-footer-content-wrapper-txt {
  display: block;
  font-family: 'Montserrat';
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: #555555;
  padding: 0 0 29px 0;
}
.main-footer-content-wrapper-link {
  color: #d1d1d1;
  transition: color 300ms;
  font-family: 'Montserrat';
  font-weight: 300;
  font-size: 14px;
  text-decoration: none;
}
.main-footer-content-wrapper-link:hover {
  color: #c7b299;
}
.main-footer-content-wrapper-link:active {
  color: #b59978;
}
.main-footer-content-wrapper-title {
  font-family: 'Raleway Semibold';
  font-weight: 700;
  font-size: 24px;
  color: #ffffff;
  padding: 28px 0 30px 0;
}
.main-footer-content-wrapper-post {
  text-decoration: none;
  padding: 0 0 20px 0;
}
.main-footer-content-wrapper-post:hover span {
  color: #ffffff;
}
.main-footer-content-wrapper-post:hover p {
  color: #c7b299;
}
.main-footer-content-wrapper-post:active span {
  color: #e6e6e6;
}
.main-footer-content-wrapper-post:active p {
  color: #b59978;
}
.main-footer-content-wrapper-post span {
  font-family: 'Montserrat';
  font-weight: 300;
  font-size: 12px;
  color: #363636;
  padding: 0 0 10px 0;
  transition: color 300ms;
}
.main-footer-content-wrapper-post p {
  font-family: 'Montserrat';
  font-weight: 300;
  font-size: 14px;
  color: #555555;
  padding: 0 0 21px 0;
  transition: color 300ms;
}
.main-footer-content-wrapper-post::after {
  content: "";
  display: block;
  height: 1px;
  width: 270px;
  background-color: #252525;
}
.main-footer-content-wrapper-post:last-child {
  padding: 0;
}
.main-footer-content-wrapper-post:last-child::after {
  content: "";
  display: block;
  height: 0;
  width: 270px;
  background-color: #252525;
}
.main-footer-info {
  padding: 45px 375px 52px 375px;
  background-color: #111111;
}
.main-footer-info::after {
  content: "";
  display: block;
  clear: both;
}
.main-footer-info-copyright {
  font-family: 'Montserrat';
  font-weight: 300;
  font-size: 13px;
  color: #555555;
  float: left;
}
.main-footer-info-copyright-element:after {
  content: "|";
  margin: 0 7px 0 10px;
  color: #252525;
}
.main-footer-info-copyright-element:last-child:after {
  content: "";
  margin: 0;
}
.main-footer-info-copyright a {
  transition: color 300ms;
  text-decoration: none;
  color: inherit;
}
.main-footer-info-copyright a:hover {
  color: #c7b299;
}
.main-footer-info-copyright-waxom {
  color: #959595 !important;
  text-decoration: none;
}
.main-footer-info-copyright-waxom:hover {
  color: #c7b299 !important;
}
.main-footer-info-design {
  float: right;
  font-family: 'Montserrat';
  font-weight: 300;
  font-size: 13px;
  color: #555555;
}
.main-footer-info-design-element:after {
  content: "|";
  margin: 0 7px 0 10px;
  color: #252525;
}
.main-footer-info-design-element:last-child:after {
  content: "";
  margin: 0;
}
.main-footer-info-design a {
  transition: color 300ms;
  text-decoration: none;
  color: #959595;
}
.main-footer-info-design a:hover {
  color: #c7b299;
}
