@font-face {
  font-family: 'Raleway Thin';
  src: url('../fonts/raleway/Raleway-Thin.eot');
  src: url('../fonts/raleway/Raleway-Thin.eot?#iefix') format('embedded-opentype'), url('../fonts/raleway/Raleway-Thin.woff') format('woff'), url('../fonts/raleway/Raleway-Thin.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway Regular';
  src: url('../fonts/raleway/Raleway-Regular.eot');
  src: url('../fonts/raleway/Raleway-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/raleway/Raleway-Regular.woff') format('woff'), url('../fonts/raleway/Raleway-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway Extra Bold';
  src: url('../fonts/raleway/Raleway-ExtraBold.eot');
  src: url('../fonts/raleway/Raleway-ExtraBold.eot?#iefix') format('embedded-opentype'), url('../fonts/raleway/Raleway-ExtraBold.woff') format('woff'), url('../fonts/raleway/Raleway-ExtraBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway Semibold';
  src: url('../fonts/raleway/Raleway-SemiBold.eot');
  src: url('../fonts/raleway/Raleway-SemiBold.eot?#iefix') format('embedded-opentype'), url('../fonts/raleway/Raleway-SemiBold.woff') format('woff'), url('../fonts/raleway/Raleway-SemiBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/montserrat/Montserrat-Regular.eot');
  src: url('../fonts/montserrat/Montserrat-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/montserrat/Montserrat-Regular.woff') format('woff'), url('../fonts/montserrat/Montserrat-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat Thin';
  src: url('../fonts/montserrat/Montserrat-Thin.eot');
  src: url('../fonts/montserrat/Montserrat-Thin.eot?#iefix') format('embedded-opentype'), url('../fonts/montserrat/Montserrat-Thin.woff') format('woff'), url('../fonts/montserrat/Montserrat-Thin.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
.main-header {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/header-photo.jpg'), no-repeat;
  padding: 40px 150px 42px 150px;
}
.main-header::after {
  content: "";
  display: block;
  width: 100%;
  clear: both;
}
.main-header-wrapper {
  width: 1170px;
  margin: 0 auto;
  padding: 0 0 285px 0;
}
.main-header-wrapper-logo {
  float: left;
  text-decoration: none;
}
.main-header-wrapper-logo-svg {
  fill: #ffffff;
  display: block;
  float: left;
  transition: fill stroke 300ms;
}
.main-header-wrapper-logo:hover > .main-header-wrapper-logo-svg {
  fill: #c7b299;
  stroke: #ffffff;
}
.main-header-wrapper-logo:active > .main-header-wrapper-logo-svg {
  fill: #b59978;
  stroke: #ffffff;
}
.main-header-wrapper-logo-text {
  color: #ffffff;
  font-weight: 400;
  line-height: 56px;
  letter-spacing: -1.36px;
  font-family: 'Raleway Thin';
  font-weight: 800;
  font-size: 34px;
  transition: color 300ms;
}
.main-header-wrapper-logo:hover > .main-header-wrapper-logo-text {
  color: #c7b299;
}
.main-header-wrapper-logo:active > .main-header-wrapper-logo-text {
  color: #b59978;
}
.main-header-wrapper-menu {
  float: right;
}
.main-header-wrapper-menu-list {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  line-height: 56px;
  font-family: 'Montserrat';
  font-weight: 100;
  font-size: 14px;
}
.main-header-wrapper-menu-list :last-child li {
  padding: 0 63px 0 0;
}
.main-header-wrapper-menu-list-li {
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0 30px 0 0;
}
.main-header-wrapper-menu-list-li a {
  text-decoration: none;
  color: #ffffff;
  transition: color 300ms;
}
.main-header-wrapper-menu-list-li a:hover {
  color: #c7b299;
}
.main-header-wrapper-menu-list-li a:active {
  color: #b59978;
}
.main-header-wrapper-cart {
  float: right;
  display: block;
}
.main-header-wrapper-cart-svg {
  fill: #ffffff;
  margin: 15px 0 0 0;
  padding: 0 28px 0 0;
  transition: fill 300ms;
}
.main-header-wrapper-cart-svg:hover {
  fill: #c7b299;
}
.main-header-wrapper-search {
  float: right;
  margin: 17px 0 0 0;
  width: 28px;
  height: 28px;
  border: none;
  background-color: transparent;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24px 24px'><path fill='rgb(255, 255, 255)' d='M23.762,22.681 L17.569,16.586 C19.190,14.825 20.187,12.494 20.187,9.929 C20.186,4.443 15.668,-0.002 10.093,-0.002 C4.519,-0.002 0.001,4.443 0.001,9.929 C0.001,15.416 4.519,19.862 10.093,19.862 C12.502,19.862 14.711,19.028 16.446,17.644 L22.663,23.763 C22.966,24.062 23.458,24.062 23.761,23.763 C24.065,23.464 24.065,22.979 23.762,22.681 ZM10.093,18.334 C5.377,18.334 1.553,14.572 1.553,9.929 C1.553,5.288 5.377,1.525 10.093,1.525 C14.810,1.525 18.633,5.288 18.633,9.929 C18.633,14.572 14.810,18.334 10.093,18.334 Z' /></svg>");
  background-position: left;
  background-repeat: no-repeat;
  background-size: contain;
  outline: none;
  transition: width 500ms ease-in-out;
  -webkit-appearance: none;
  padding: 0 5px 7px 30px;
  cursor: pointer;
}
.main-header-wrapper-search:focus {
  width: 160px;
  box-shadow: 0 1px 0 0 #ffffff;
  color: #ffffff;
  font-family: 'Montserrat';
  font-weight: 100;
  font-size: 14px;
  cursor: text;
}
.main-header-wrapper-search:focus:hover {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24px 24px'><path fill='rgb(255, 255, 255)' d='M23.762,22.681 L17.569,16.586 C19.190,14.825 20.187,12.494 20.187,9.929 C20.186,4.443 15.668,-0.002 10.093,-0.002 C4.519,-0.002 0.001,4.443 0.001,9.929 C0.001,15.416 4.519,19.862 10.093,19.862 C12.502,19.862 14.711,19.028 16.446,17.644 L22.663,23.763 C22.966,24.062 23.458,24.062 23.761,23.763 C24.065,23.464 24.065,22.979 23.762,22.681 ZM10.093,18.334 C5.377,18.334 1.553,14.572 1.553,9.929 C1.553,5.288 5.377,1.525 10.093,1.525 C14.810,1.525 18.633,5.288 18.633,9.929 C18.633,14.572 14.810,18.334 10.093,18.334 Z' /></svg>");
}
.main-header-wrapper-search:hover {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24px 24px'><path fill='rgb(199, 178, 153)' d='M23.762,22.681 L17.569,16.586 C19.190,14.825 20.187,12.494 20.187,9.929 C20.186,4.443 15.668,-0.002 10.093,-0.002 C4.519,-0.002 0.001,4.443 0.001,9.929 C0.001,15.416 4.519,19.862 10.093,19.862 C12.502,19.862 14.711,19.028 16.446,17.644 L22.663,23.763 C22.966,24.062 23.458,24.062 23.761,23.763 C24.065,23.464 24.065,22.979 23.762,22.681 ZM10.093,18.334 C5.377,18.334 1.553,14.572 1.553,9.929 C1.553,5.288 5.377,1.525 10.093,1.525 C14.810,1.525 18.633,5.288 18.633,9.929 C18.633,14.572 14.810,18.334 10.093,18.334 Z' /></svg>");
}
.main-header-wrapper-search::after {
  content: "";
  height: 1px;
  width: 140px;
  background-color: aqua;
}
.main-header-content {
  margin: 0 auto;
}
.main-header-content-left {
  margin: 60px 0 0 0;
  float: left;
  fill: #ffffff;
  opacity: 0.5;
}
.main-header-content-left-button {
  outline: none;
  border: none;
  background-color: rgba(0, 0, 0, 0);
}
.main-header-content-left:hover {
  fill: #c7b299;
}
.main-header-content-left:active {
  fill: #ffffff;
  opacity: 1;
}
.main-header-content-right {
  margin: 60px 0 0 0;
  display: block;
  float: left;
  fill: #ffffff;
  opacity: 0.5;
}
.main-header-content-right-button {
  outline: none;
  border: none;
  background-color: rgba(0, 0, 0, 0);
}
.main-header-content-right:hover {
  fill: #c7b299;
}
.main-header-content-right:active {
  fill: #ffffff;
  opacity: 1;
}
.main-header-content-text {
  margin: 0 auto;
  text-align: center;
  width: 590px;
  padding: 0 475px 0 475px;
  float: left;
  margin: 0 0 327px 0;
}
.main-header-content-text h2 {
  font-family: 'Raleway Regular';
  font-weight: 500;
  font-size: 36px;
  color: #ffffff;
  margin: 0 0 14px 0;
  padding: 0;
}
.main-header-content-text h1 {
  font-family: 'Raleway Extra Bold';
  font-weight: 400;
  font-size: 52px;
  color: #ffffff;
  margin: 0 0 19px 0;
  padding: 0;
}
.main-header-content-text p {
  font-family: 'Montserrat';
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  margin: 0 0 52px 0;
  padding: 0;
}
.main-header-content-text button {
  width: 170px;
  height: 53px;
  text-transform: uppercase;
  outline: none;
  font-family: 'Raleway Extra Bold';
  font-weight: 400;
  font-size: 14px;
  border: 0 none;
  border-radius: 3px;
  box-shadow: inset 0 -3px 0 #736357;
  background-color: #998675;
  color: #ffffff;
  transition: background-color color 300ms;
}
.main-header-content-text button:hover {
  background-color: #8d7968;
  color: #ccc;
}
.main-header-content-text button:active {
  color: #ffffff;
}
.main-header-pagination {
  margin: 0 auto;
  width: 120px;
  display: flex;
  justify-content: center;
}
.main-header-pagination-link {
  display: block;
  width: 10px;
  min-height: 10px;
  margin: 5px;
  border: 2px solid transparent;
  border-radius: 50%;
  background-color: #ffffff;
  opacity: 0.5;
  transition: border background-color 300ms;
}
.main-header-pagination-link:hover {
  border: 2px solid #d3c1ad;
  background-color: transparent;
}
