@media (max-width: 900px) {
  .main-footer-content {
    display: none;
  }
  .main-projects-nav {
    display: none;
  }
  .main-projects-wrapper {
    display: none;
  }
  .main-results {
    display: none;
  }
}
