@media (max-width: 900px) {
  body {
    margin: 0;
    padding: 0;
  }
  .main-footer-content {
    display: none;
  }
  .main-projects-nav {
    display: none;
  }
  .main-projects-wrapper {
    display: none;
  }
  .main-results {
    display: none;
  }
  .main-realization {
    display: none;
  }
  .main-purchase {
    display: none;
  }
  .main-header-section {
    display: none;
  }
  label {
    width: 50px;
    height: 50px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    margin: 0 15px 0 0;
    align-self: flex-end;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  label span,
  label span::before,
  label span::after {
    margin: 25px 0 0 0;
    display: block;
    width: 30px;
    height: 2px;
    border-radius: 1px;
    background-color: #ffffff;
  }
  label span::before {
    content: "";
    margin: -25px 0 0 0;
  }
  label span::after {
    content: "";
    margin: 10px 0 0 0;
  }
  .menu {
    visibility: hidden;
    display: none;
    margin: 0 auto;
    height: calc(100vh - 67px);
    width: 100%;
    flex-direction: column;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/header-photo.jpg'), no-repeat;
    background-position: center;
    background-position-y: -67px;
  }
  .menu li {
    line-height: normal;
    text-align: center;
    vertical-align: middle;
    margin: 2px 0 0 0;
  }
  .menu li:last-child {
    padding: 0 0 20px 0;
  }
  .menu li:first-child {
    padding: 20px 0 0 0;
  }
  .main-header {
    background-position: top center;
    /*display: none;*/
  }
  .main-header-wrapper {
    padding: 15px 0 15px 0;
    width: auto;
    position: relative;
    height: 50px;
  }
  .main-header-wrapper-cart {
    display: none;
  }
  .main-header-wrapper-search-form {
    display: none;
  }
  .main-header-wrapper-logo {
    float: unset;
    position: absolute;
    top: 10px;
    left: 10px;
  }
  .main-header-wrapper-menu {
    float: unset;
    display: flex;
    flex-direction: column;
    justify-content: right;
  }
  .main-header-wrapper-menu-list-li {
    padding: 0;
  }
  .container {
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
  }
  .main-header {
    padding: 0;
  }
  .main-options {
    padding: 20px 10px 10px 20px;
    flex-wrap: wrap;
  }
  .main-options-element {
    padding: 10px 15px 10px 15px;
  }
  .main-options-element:first-child {
    padding: 10px 15px 10px 15px;
  }
  .main-options-element:last-child {
    padding: 10px 15px 10px 15px;
  }
  .main-projects {
    padding: 40px 10px 20px 10px;
  }
  .main-projects-txt {
    width: auto;
    padding: 0 0 10px 0;
  }
  .main-mobile {
    padding: 40px 10px 20vh 10px;
    min-height: 80vw;
  }
  .main-mobile-wrapper-title {
    text-align: center;
  }
  .main-mobile-wrapper-txt {
    width: auto;
    padding: 0 10px 0 10px;
  }
  .main-mobile-wrapper-details {
    padding: 0 0 0 42vw;
    margin: 0 0 12px 0;
  }
  .main-mobile-wrapper-details:last-child {
    margin: 0;
  }
  .main-mobile-wrapper-details summary::before {
    left: 37vw;
  }
  .main-mobile-picture {
    left: 20px;
    width: unset;
    height: inherit;
    background: none;
    display: flex;
  }
  .main-mobile-picture img {
    display: block;
    width: 40vw;
    height: 58.25vw;
    position: absolute;
    bottom: 0;
  }
  .main-video {
    height: 705px;
  }
  .main-video-content {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/video.jpg);
    background-position: center;
    background-size: cover;
  }
  .main-posts {
    padding: 40px 10px 20px 10px;
  }
  .main-posts-txt {
    width: auto;
  }
  .main-posts-wrapper {
    justify-content: center;
  }
  .main-footer-brands {
    padding: 40px 10px 40px 10px;
    flex-wrap: wrap;
    justify-content: center;
    background-position: center;
    background-size: cover;
  }
  .main-footer-brands svg {
    display: block;
    padding: 20px 45px 20px 45px;
  }
  .main-footer-brands::after {
    content: "";
    display: block;
    clear: both;
    width: 100%;
  }
  .main-footer-info {
    padding: 40px 10px 40px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .main-footer-info-copyright {
    padding: 0 0 15px 0;
    float: none;
    text-align: center;
  }
  .main-footer-info-design {
    float: none;
    text-align: center;
  }
}
