@font-face {
  font-family: 'Raleway Thin';
  src: url('../fonts/raleway/Raleway-Thin.eot');
  src: url('../fonts/raleway/Raleway-Thin.eot?#iefix') format('embedded-opentype'), url('../fonts/raleway/Raleway-Thin.woff') format('woff'), url('../fonts/raleway/Raleway-Thin.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway Regular';
  src: url('../fonts/raleway/Raleway-Regular.eot');
  src: url('../fonts/raleway/Raleway-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/raleway/Raleway-Regular.woff') format('woff'), url('../fonts/raleway/Raleway-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway Extra Bold';
  src: url('../fonts/raleway/Raleway-ExtraBold.eot');
  src: url('../fonts/raleway/Raleway-ExtraBold.eot?#iefix') format('embedded-opentype'), url('../fonts/raleway/Raleway-ExtraBold.woff') format('woff'), url('../fonts/raleway/Raleway-ExtraBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway Semibold';
  src: url('../fonts/raleway/Raleway-SemiBold.eot');
  src: url('../fonts/raleway/Raleway-SemiBold.eot?#iefix') format('embedded-opentype'), url('../fonts/raleway/Raleway-SemiBold.woff') format('woff'), url('../fonts/raleway/Raleway-SemiBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/montserrat/Montserrat-Regular.eot');
  src: url('../fonts/montserrat/Montserrat-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/montserrat/Montserrat-Regular.woff') format('woff'), url('../fonts/montserrat/Montserrat-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
}
.container {
  margin: 0 auto;
  width: 1920px;
}
.main-header {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/header-photo.jpg'), no-repeat;
  padding: 40px 150px 42px 150px;
}
.main-header::after {
  content: "";
  display: block;
  width: 100%;
  clear: both;
}
.main-header-wrapper {
  width: 1170px;
  margin: 0 auto;
  padding: 0 0 285px 0;
}
.main-header-wrapper-logo {
  float: left;
  text-decoration: none;
}
.main-header-wrapper-logo-svg {
  fill: #ffffff;
  display: block;
  float: left;
  transition-duration: 200ms;
}
.main-header-wrapper-logo:hover > .main-header-wrapper-logo-svg {
  fill: #c7b299;
  stroke: #ffffff;
}
.main-header-wrapper-logo:active > .main-header-wrapper-logo-svg {
  fill: #b59978;
  stroke: #ffffff;
}
.main-header-wrapper-logo-text {
  color: #ffffff;
  font-weight: 400;
  line-height: 56px;
  letter-spacing: -1.36px;
  font-family: 'Raleway Thin';
  font-weight: 800;
  font-size: 34px;
  transition-duration: 200ms;
}
.main-header-wrapper-logo:hover > .main-header-wrapper-logo-text {
  color: #c7b299;
}
.main-header-wrapper-logo:active > .main-header-wrapper-logo-text {
  color: #b59978;
}
.main-header-wrapper-menu {
  float: right;
}
.main-header-wrapper-menu-list {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  line-height: 56px;
  font-family: 'Montserrat';
  font-weight: 100;
  font-size: 14px;
}
.main-header-wrapper-menu-list :last-child li {
  padding: 0 63px 0 0;
}
.main-header-wrapper-menu-list-li {
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0 30px 0 0;
}
.main-header-wrapper-menu-list-li a {
  text-decoration: none;
  color: #ffffff;
  transition-duration: 200ms;
}
.main-header-wrapper-menu-list-li a:hover {
  color: #c7b299;
}
.main-header-wrapper-menu-list-li a:active {
  color: #b59978;
}
.main-header-wrapper-cart {
  float: right;
  display: block;
}
.main-header-wrapper-cart-svg {
  fill: #ffffff;
  margin: 15px 0 0 0;
  padding: 0 28px 0 0;
  transition-duration: 200ms;
}
.main-header-wrapper-cart-svg:hover {
  fill: #c7b299;
}
.main-header-wrapper-serch {
  float: right;
  display: block;
}
.main-header-wrapper-serch-svg {
  fill: #ffffff;
  margin: 15px 0 0 0;
  transition-duration: 200ms;
}
.main-header-wrapper-serch-svg:hover {
  fill: #c7b299;
}
.main-header-content {
  margin: 0 auto;
}
.main-header-content-left {
  margin: 60px 0 0 0;
  float: left;
  fill: #ffffff;
  opacity: 0.5;
}
.main-header-content-left-button {
  outline: none;
  border: none;
  background-color: rgba(0, 0, 0, 0);
}
.main-header-content-left:hover {
  fill: #c7b299;
}
.main-header-content-left:active {
  fill: #ffffff;
  opacity: 1;
}
.main-header-content-right {
  margin: 60px 0 0 0;
  display: block;
  float: left;
  fill: #ffffff;
  opacity: 0.5;
}
.main-header-content-right-button {
  outline: none;
  border: none;
  background-color: rgba(0, 0, 0, 0);
}
.main-header-content-right:hover {
  fill: #c7b299;
}
.main-header-content-right:active {
  fill: #ffffff;
  opacity: 1;
}
.main-header-content-text {
  margin: 0 auto;
  text-align: center;
  width: 590px;
  padding: 0 475px 0 475px;
  float: left;
  margin: 0 0 327px 0;
}
.main-header-content-text h2 {
  font-family: 'Raleway Regular';
  font-weight: 500;
  font-size: 36px;
  color: #ffffff;
  margin: 0 0 14px 0;
  padding: 0;
}
.main-header-content-text h1 {
  font-family: 'Raleway Extra Bold';
  font-weight: 400;
  font-size: 52px;
  color: #ffffff;
  margin: 0 0 19px 0;
  padding: 0;
}
.main-header-content-text p {
  font-family: 'Montserrat';
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  margin: 0 0 52px 0;
  padding: 0;
}
.main-header-content-text button {
  width: 170px;
  height: 53px;
  text-transform: uppercase;
  outline: none;
  font-family: 'Raleway Extra Bold';
  font-weight: 400;
  font-size: 14px;
  border: 0 none;
  border-radius: 3px;
  box-shadow: inset 0 -3px 0 #736357;
  background-color: #998675;
  color: #ffffff;
  transition-duration: 200ms;
}
.main-header-content-text button:hover {
  background-color: #8d7968;
  color: #ccc;
}
.main-header-content-text button:active {
  color: #ffffff;
}
.main-header-pagination {
  margin: 0 auto;
  width: 120px;
  display: flex;
  justify-content: center;
}
.main-header-pagination-link {
  display: block;
  width: 10px;
  min-height: 10px;
  margin: 5px;
  border: 2px solid transparent;
  border-radius: 50%;
  background-color: #ffffff;
  opacity: 0.5;
  transition-duration: 200ms;
}
.main-header-pagination-link:hover {
  border: 2px solid #d3c1ad;
  background-color: transparent;
}
.main-options {
  padding: 90px 150px 80px 150px;
  display: flex;
  justify-content: center;
}
.main-options::after {
  content: "";
  display: block;
  clear: both;
}
.main-options-element {
  width: 290px;
  padding: 0 15px 0 15px;
  margin-top: auto;
  margin-bottom: 5px;
}
.main-options-element:first-child {
  padding: 0 15px 0 0;
}
.main-options-element:last-child {
  padding: 0 0 0 15px;
}
.main-options-element-link {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  box-sizing: border-box;
  text-decoration: none;
  text-align: center;
  color: #8c8c8c;
}
.main-options-element-link:after {
  content: "";
  display: block;
  width: 70px;
  height: 3px;
  background-color: #555555;
}
.main-options-element-link:hover .main-options-element-link-icon {
  fill: #c7b299;
}
.main-options-element-link:hover .main-options-element-link-title {
  color: #c7b299;
}
.main-options-element-link:hover:after {
  background-color: #c7b299;
}
.main-options-element-link-icon {
  fill: #555555;
  margin: 0 0 30px 0;
  transition-duration: 200ms;
}
.main-options-element-link-title {
  margin: 0 0 20px 0;
  width: 100%;
  font-weight: bold;
  color: #555555;
  font-family: 'Raleway Semibold';
  font-weight: 400;
  font-size: 22px;
  transition-duration: 200ms;
}
.main-options-element-link-txt {
  margin: 0 0 30px 0;
  font-family: 'Montserrat';
  font-weight: 300;
  font-size: 14px;
  transition-duration: 200ms;
}
.main-realization {
  background-color: #fbfaf8;
  padding: 80px 150px 0 150px;
}
.main-realization::after {
  content: "";
  display: block;
  width: 100%;
  clear: both;
}
.main-realization-title {
  color: #555555;
  font-family: 'Raleway Semibold';
  font-weight: 400;
  font-size: 30px;
  text-align: center;
  padding: 0 0 24px 0;
}
.main-realization-txt {
  font-family: 'Montserrat';
  font-weight: 300;
  font-size: 16px;
  text-align: center;
  display: block;
  width: 780px;
  margin: 0 auto;
  color: #8c8c8c;
  padding: 0 0 30px 0;
}
.main-realization-screen {
  position: relative;
  width: 1230px;
  margin: 0 auto;
  height: 482px;
}
.main-realization-screen-center {
  position: absolute;
  width: 770px;
  height: 482px;
  background-image: url(../img/browser-center.jpg);
  left: 50%;
  margin-left: -385px;
  z-index: 3;
}
.main-realization-screen-left {
  position: absolute;
  width: 770px;
  height: 400px;
  background-image: url(../img/browser-left.jpg);
  top: 82px;
  z-index: 1;
}
.main-realization-screen-right {
  position: absolute;
  width: 770px;
  height: 400px;
  background-image: url(../img/browser-right.jpg);
  top: 82px;
  right: 0px;
  z-index: 2;
}
.main-purchase {
  background-color: #f4f5f8;
  background-image: linear-gradient(to right, #211b19 0%, #4e3427 100%);
  padding: 50px 375px 50px 375px;
}
.main-purchase::after {
  content: "";
  display: block;
  clear: both;
}
.main-purchase-wrapper {
  float: left;
}
.main-purchase-wrapper-title {
  color: #ffffff;
  font-family: 'Raleway Regular';
  font-weight: 400;
  font-size: 28px;
  line-height: 28px;
  padding: 0 0 8px 0;
}
.main-purchase-wrapper-title span {
  color: #c7b299;
}
.main-purchase-wrapper-txt {
  color: #615855;
  font-family: 'Montserrat';
  font-weight: 300;
  font-size: 18px;
  line-height: 18px;
}
.main-purchase button {
  width: 170px;
  height: 53px;
  text-transform: uppercase;
  outline: none;
  font-family: 'Raleway Extra Bold';
  font-weight: 400;
  font-size: 14px;
  border: 0 none;
  border-radius: 3px;
  box-shadow: inset 0 -3px 0 #736357;
  background-color: #998675;
  color: #ffffff;
  transition-duration: 200ms;
  float: right;
}
.main-purchase button:hover {
  background-color: #8d7968;
  color: #ccc;
}
.main-purchase button:active {
  color: #ffffff;
}
.main-projects {
  padding: 80px 375px 80px 375px;
  text-align: center;
}
.main-projects::after {
  content: "";
  display: block;
  width: 100%;
  clear: both;
}
.main-projects-title {
  color: #555555;
  font-family: 'Raleway Semibold';
  font-weight: 400;
  font-size: 30px;
  text-align: center;
  padding: 0 0 24px 0;
}
.main-projects-txt {
  font-family: 'Montserrat';
  font-weight: 300;
  font-size: 16px;
  display: block;
  width: 780px;
  margin: 0 auto;
  color: #8c8c8c;
  padding: 0 0 40px 0;
}
.main-projects-nav {
  display: flex;
  justify-content: center;
  padding: 0 0 40px 0;
}
.main-projects-nav a {
  margin: 0 5px 0 5px;
  border-radius: 3px;
  padding: 10px 25px 10px 25px;
  border: 1px solid #ebebeb;
  text-decoration: none;
  color: #8c8c8c;
  font-family: 'Montserrat';
  font-weight: 300;
  font-size: 14px;
  transition-duration: 200ms;
}
.main-projects-nav a:hover {
  color: #ffffff;
  border: 1px solid #998675;
  background-color: #998675;
}
.main-projects-nav a:active {
  color: #ffffff;
  border: 1px solid #8d7968;
  background-color: #8d7968;
}
.main-projects-wrapper {
  text-align: left;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.main-projects-wrapper-element {
  text-decoration: none;
  display: block;
  width: 370px;
  margin: 0 0 30px 0;
}
.main-projects-wrapper-dark {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 10;
  top: 50px;
  left: 50px;
  display: none;
  transition-duration: 200ms;
}
.main-projects-wrapper figure {
  transition-duration: 200ms;
  background-color: #fbfaf8;
}
.main-projects-wrapper-container {
  position: relative;
  padding: 0;
}
.main-projects-wrapper img {
  margin: 0 0 -4px 0;
  transition-duration: 200ms;
}
.main-projects-wrapper figcaption {
  padding: 0 0 27px 0;
  margin: 0 0 0 0;
}
.main-projects-wrapper h4 {
  padding: 26px 0 14px 28px;
  text-decoration: none;
  font-family: 'Raleway Regular';
  font-weight: 500;
  font-size: 20px;
  color: #c7b299;
  transition-duration: 200ms;
}
.main-projects-wrapper span {
  padding: 0 0 0 28px;
  text-decoration: none;
  font-family: 'Montserrat';
  font-weight: 300;
  font-size: 14px;
  color: #d1d1d1;
  transition-duration: 200ms;
}
.main-projects-wrapper :hover figure {
  background-color: #362f2d;
}
.main-projects-wrapper :hover h4 {
  color: #ffffff;
}
.main-projects-wrapper :hover span {
  color: #c7b299;
}
.main-projects-wrapper :hover .main-projects-wrapper-dark {
  display: block;
}
.main-projects-wrapper :hover img {
  filter: brightness(50%);
}
.main-projects button {
  width: 170px;
  height: 53px;
  text-transform: uppercase;
  outline: none;
  font-family: 'Raleway Extra Bold';
  font-weight: 400;
  font-size: 14px;
  border: 0 none;
  border-radius: 3px;
  box-shadow: inset 0 -3px 0 #736357;
  background-color: #998675;
  color: #ffffff;
  transition-duration: 200ms;
  margin: 10px 0 0 0;
}
.main-projects button:hover {
  background-color: #8d7968;
  color: #ccc;
}
.main-projects button:active {
  color: #ffffff;
}
.main-video {
  min-height: 705px;
  background-color: #4e3427;
}
.main-mobile {
  position: relative;
  padding: 195px 0 183px 877px;
  background-color: #fbfaf8;
}
.main-mobile::after {
  content: "";
  display: block;
  width: 100%;
  clear: both;
}
.main-mobile-picture {
  width: 423px;
  min-height: 616px;
  position: absolute;
  bottom: 0px;
  left: 423px;
  background: url(../img/iPhone_in_hand.png) no-repeat #fbfaf8;
}
.main-mobile-wrapper-title {
  color: #555555;
  font-family: 'Raleway Semibold';
  font-weight: 400;
  font-size: 30px;
  text-align: center;
  text-align: left;
  margin: 0 0 40px 0;
}
.main-mobile-wrapper-txt {
  width: 680px;
  font-family: 'Montserrat';
  font-weight: 300;
  font-size: 16px;
  color: #8c8c8c;
  line-height: 28px;
  margin: 0 0 45px 0;
}
.main-mobile-wrapper-details {
  margin: 0 0 12px 100px;
  font-family: 'Montserrat';
  font-weight: 300;
  font-size: 16px;
  color: #8c8c8c;
  position: relative;
}
.main-mobile-wrapper-details:last-child {
  margin: 0 0 0 100px;
}
.main-mobile-wrapper-details summary {
  outline: none;
}
.main-mobile-wrapper-details summary::-webkit-details-marker {
  display: none;
}
.main-mobile-wrapper-details summary::before {
  color: #ffffff;
  float: left;
  height: 21px;
  width: 21px;
  border-radius: 50%;
  padding: 0 0 0 0;
  content: url(../img/arrow.svg);
  text-align: center;
  margin: 0 0 0 0;
  line-height: 21px;
  position: absolute;
  top: 0;
  left: -50px;
}
.main-mobile-wrapper-details[open] > p {
  padding: 5px 0 0  0;
}
.main-mobile-wrapper-details[open] > summary::before {
  transform: rotate(90deg);
}
