@width: 1920px;
@width-nat-bar: 1170px;
@nav-colors: #ffffff;
@hover-color: #c7b299;
@time-effect: 200ms;
@header-text-color:#ffffff;
@button-shadow: #736357;
@button-color:#998675;
@button-hover-text: #ccc;
@button-active-text: #ffffff;
@arrow-color: #ffffff;
@pagination-color: #ffffff;
@pagination-hover: #d3c1ad;